@model WebApp.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order @Html.DisplayNameFor(model => model.OrderID)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Symbol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PricePerUnit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>

    @{
        if (User.Identity.IsAuthenticated)
        {
            var isAdmin = false;
            var claims = User.Claims.ToList();
            foreach (var c in claims)
            {
                if (c.Value == "Admin")
                {
                    isAdmin = true;
                }
            }

            if (isAdmin)
            {

        <p><a asp-action="Edit" asp-route-id="@Model.OrderID" class="normal-link">Edit</a> |
        <a asp-action="Index" class="normal-link">Back to List</a></p>
            }
        }
    }
</div>

