@model IEnumerable<WebApp.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders List</h1>

<p>
    <a class="btn-outline-dark" asp-action="SearchJoin">View User Orders</a>   |
    <a class="btn-outline-dark" asp-action="Create">Create New Order</a>
</p>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderID" class="normal-link">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderID" class="normal-link">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderID" class="normal-link">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
